*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/back.jpg);
    background-size: 100% 100%;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 400px;
    height: 520px;
    box-shadow: 0 0 10px 1px gray;
}   
#app_name{
    width: inherit;
    font-size: 0,8rem;
    background-color: #303030;
    color: white;
    border: none;
    outline: none;
    font-family: 'Open Sans';
    text-align: center;
    padding: 2px 0px 2px 10px;
}

#reslult{
    width: inherit;
    height: 100px;
    background-color: #303030;
    font-size: 2rem;
    color: white;
    text-align: right;
    outline: none;
    border: none;

}

.line1{
    width: inherit;
    height: 90px;
    display: flex;
    justify-content: center;
}
.line2{
    width: inherit;
    height: 40px;
    display: flex;
    justify-content: center;
}
input{
    flex: 1;
    font-size: 1.4rem;
    color: black;
    border: 1px solid gray;
    outline: none;
}

.mian_num{
    background-color: #101011;
    color: white;
}
input:hover{
    background-color: #303030;
    border: 1px solid gray;
}